#################################
# SYSTEM FILES (macOS / Unix)
#################################
.DS_Store
._*
*~

#################################
# EDITORS / IDE SETTINGS
#################################
.vscode/
.idea/
*.swp
*.swo

#################################
# TEMPORARY / LOG FILES
#################################
*.log
*.bak
*.tmp
