#################################
# SYSTEM
#################################
.DS_Store
._*
*~

#################################
# EDYTORY / IDE
#################################
.vscode/
.idea/
*.swp
*.swo

#################################
# SYMULACJA (GENEROWANE)
#################################
# binarki symulatorów
sim
simv
*.vvp

# dumpy fal
*.vcd
*.fst
*.gtkw

#################################
# OPENLANE / ASIC FLOW
#################################
# CAŁY FLOW ignorujemy
runs/
logs/
reports/
tmp/
work/
openlane/*/runs/

#################################
# STA / POŚREDNIE
#################################
*.sdf
*.spef
*.lib
*.db
*.json
*.blif
*.edif
*.spice
*.spi

#################################
# LAYOUT – UWAGA
#################################
# NIE ignorujemy:
# *.gds
# *.lef
# *.def

#################################
# CACHE / TEMP
#################################
*.log
*.bak
*.tmp

#################################
# PYTHON (jeśli jest)
#################################
__pycache__/
.env
.venv/

